<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aminals Q&A Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% if user %}
		<nav>
			<a href="{{ url_for('logout') }}">Logout</a>
		</nav>
	{% else %}
		<nav>
			<a href="{{ url_for('login') }}">Sign In || </a>
			<a href="{{ url_for('register') }}">Register</a>
		</nav>
	{% endif %}
</head>
<body>

    <nav>
        <a href="{{ url_for('index') }}">Home || </a>
        <a href="{{ url_for('get_questions') }}">Question List || </a>
        <a href="{{ url_for('new_question') }}">Add Question</a>
    </nav>

    <h1>Welcome {{user}} to our Q&A site!</h1>

    <h2>Post and view questions that you may be curious about!</h2>

</body>
</html>