<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Post a new question</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
       <nav class="left">
        <a href="{{ url_for('index') }}">Home || </a>
        <a href="{{ url_for('get_questions') }}">Question List || </a>
        <a href="{{ url_for('new_question') }}">Add Question || </a>
	<a href="{{ url_for('get_favs') }}">Favorites</a>
    </nav>

        <h1>Welcome {{user.name}} to Code Query!</h1>
		{% if question %}
			<form action="{{ url_for('update_question', q_id=question.id) }}" method="post">
		{% else %}
			<form action="new" method="post">
		{% endif %}
           <p><label>Title </label></p>
		   <p><input type="text" name="title" value="{% if question %}{{question.title}} {% endif %}"/></p>
           <p><label>Note </label></p>
		   <p>
		   
				<textarea name="noteText"  rows="6" cols="0" >
					{% if question %}
						{{question.text}}
					{% else %}
						Add your question here ...
					{% endif %}
				
				</textarea>
		   </p>
           <p>
				{% if question %}
					<input type="submit" value="Update Note"/>
				{% else %}
					<input type="submit" value="Add Note"/>
				{% endif %}
		   </p>
        </form>
</html>