<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <nav class="left">
        <a href="{{ url_for('index') }}">Home || </a>
        <a href="{{ url_for('get_questions') }}">Question List || </a>
        <a href="{{ url_for('new_question') }}">Add Question</a>
    </nav>
    <nav class="right">
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <h1>Question Details</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>{{ question.title }}</td>
            <td>{{ question.text }}</td>
            <td>{{ question.date }}</td>
        </tr>
    </table>
    {% if question.comments %}
        {% if question.comments|length > 0 %}
        <h2>Comments</h2>
        <ul>
    {% for comment in question.comments %}
      <li>{{ comment.content }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
<form action="{{ url_for('new_comment', q_id=question.id) }}" method="post">
  <div class="formwrapper">
    <h2 class="title">Add a comment</h2>
    <div class="form-field">
      {{ form.comment.label }} <br/> {{ form.comment }}
    </div>
    {{ form.submit }}
  </div>
</form>
</body>
</html>