<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aminals Q&A Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('get_questions') }}">Question List</a>
        <a href="{{ url_for('new_question') }}">Add Question</a>
    </nav>

    <h1>Question Details</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>{{ question.title }}</td>
            <td>{{ question.text }}</td>
            <td>{{ question.date }}</td>
        </tr>
    </table>

</body>
</html>