<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aminals Q&A Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('index') }}">Home || </a>
        <a href="{{ url_for('get_questions') }}">Question List || </a>
        <a href="{{ url_for('new_question') }}">Add Question</a>
    </nav>

    <h1>View and post questions here</h1>

    <h2>Question List</h2>

    <table>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
    </table>

</body>
</html>