<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <nav class="left">
        <a href="{{ url_for('index') }}">Home || </a>
        <a href="{{ url_for('get_questions') }}">Question List || </a>
        <a href="{{ url_for('new_question') }}">Add Question</a>
    </nav>
    <nav class="right">
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <h1>View and post questions here</h1>

    <h2>Question List</h2>

	<form method="GET">
		<input type="search" placeholder="Search" aria-label="Search" name="titleSearch">
        <button type="submit">Search</button>
	</form>

    <table>
        <tr>
            <th>Title</th>
            <th>Date</th>
        </tr>
	{% for question in questions %}
            <tr>
                <td><a href="{{ url_for('get_question', q_id=question.id) }}">{{ question.title }}</a></td>
                <td>{{ question.date }}</td>
		<td><a href="{{ url_for('update_question', q_id=question.id) }}">Edit</a></td>
                <td>
                    <form action="{{ url_for('delete_question', q_id=question.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>